{% extends 'base.html' %}
{% block content %}
<h2>Посещения страниц</h2>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Страница</th>
            <th>Количество посещений</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ log.path }}</td>
            <td>{{ log.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('logs.pages_stat', export=1) }}" class="btn btn-primary">
    Экспорт в CSV
</a>
{% endblock %}