{% macro meeting_form(action, meeting={}, errors={}) %}

<form method='post' novalidate enctype="multipart/form-data">

    {% if action == 'new' %}
    <div class="mb-3">
        <label for="image" class="form-label">Изображение</label>
        <input type="file" name="image" id="image" class="form-control {% if errors.image %}is-invalid{% endif %}" accept="image/*" required>
        
        {% if errors.image %}
            <div class="invalid-feedback">
                {{ errors.image }}
            </div>
        {% endif %}
        <div class="form-text">Загрузите изображение для мероприятия</div>
    </div>
    {% endif %}

    <div class="mb-3">
        <label for="title" class="form-label">Название</label>
        <input type="text" name="title" id="title" class="form-control {% if errors.title %}is-invalid{% elif meeting.title %}is-valid{% endif %}" value="{{ meeting.title or ''}}" required>
        {% if errors.title %}
            <div class="invalid-feedback">
                {{errors.title}}
            </div>
        {% elif not meeting.title %}
            <div class="invalid-feedback">
                Введите название мероприятия
            </div>
        {% else %}
            <div class="valid-feedback">
                супер!
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea name="description" id="description" class="form-control {% if errors.description %}is-invalid{% elif meeting.description %}is-valid{% endif %}" rows="5" required>{{ meeting.description or '' }}</textarea>         
        {% if errors.description %}
            <div class="invalid-feedback">
                {{errors.description}}
            </div>
        {% elif not meeting.description %}
            <div class="invalid-feedback">
                Введите описание мероприятия
            </div>
        {% else %}
            <div class="valid-feedback">
                супер!
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="date" class="form-label">Дата проведения</label>
        <input type="date" name="date" id="date" class="form-control {% if errors.date %}is-invalid{% elif meeting.date %}is-valid{% endif %}" value="{{ meeting.date or ''}}" required>
         {% if errors.date %}
            <div class="invalid-feedback">
                {{errors.date}}
            </div>
        {% elif not meeting.date %}
            <div class="invalid-feedback">
                Введите дату мероприятия
            </div>
        {% else %}
            <div class="valid-feedback">
                супер!
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="place" class="form-label">Место</label>
        <input type="text" name="place" id="place" class="form-control {% if errors.place %}is-invalid{% elif meeting.place %}is-valid{% endif %}" value="{{ meeting.place or ''}}" required>
         {% if errors.place %}
            <div class="invalid-feedback">
                {{errors.place}}
            </div>
        {% elif not meeting.place %}
            <div class="invalid-feedback">
                Введите место проведения мероприятия
            </div>
        {% else %}
            <div class="valid-feedback">
                супер!
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="volunteers_amount" class="form-label">Количество волонтеров</label>
        <input type="number" name="volunteers_amount" id="volunteers_amount" min="1" class="form-control {% if errors.volunteers_amount %}is-invalid{% elif meeting.volunteers_amount %}is-valid{% endif %}" value="{{ meeting.volunteers_amount or ''}}" required>
         {% if errors.volunteers_amount %}
            <div class="invalid-feedback">
                {{errors.volunteers_amount}}
            </div>
        {% elif not meeting.volunteers_amount %}
            <div class="invalid-feedback">
                Введите требуемое количество волонтеров
            </div>
        {% else %}
            <div class="valid-feedback">
                супер!
            </div>
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary"> {% if action=='new' %} Создать {% else %} Сохранить {% endif %} </button>
</form>

{% endmacro %}
