{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Дата</th>
                <th>Место</th>
                <th>Организатор</th>
                <th>Зарегистрировано</th>
                <th>Требуется</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for meeting in meetings %}
            <tr>
                <td>{{ meeting.title }}</td>
                <td>{{ meeting.date }}</td>
                <td>{{ meeting.place }}</td>
                <td>{{ meeting.organizer_name }}</td>  
                <td>{{ meeting.volunteers_count }}</td>  
                <td>{{ meeting.volunteers_amount }}</td>
                <td>
                    {% if meeting.volunteers_count >= meeting.volunteers_amount %}
                        Регистрация закрыта
                    {% else %}
                        Идёт набор волонтёров
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary">Просмотр</a>
                    {% if role != 'Пользователь' %}
                        <a class="btn btn-primary">Редактирование</a>
                    {% endif %}
                    
                    {% if role == 'Администратор' %}
                        <button type="button" 
                                class="btn btn-danger" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal"
                                data-meeting-title="{{ meeting.title }}"
                                data-meeting-id="{{ meeting.id }}">
                            Удалить
                        </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if role == 'Администратор' %}
    <a  class="btn btn-primary">Добавить мероприятие</a> 
    {% endif %}

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление мероприятия</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить мероприятие <span id="modalMeetingName"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                    <form method="post" id="deleteModalForm">
                        <button type="submit" class="btn btn-primary">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='user_delete_modal.js') }}"></script>
{% endblock %}