{% extends 'base.html' %}

{% block content %}

    <table class="table">
        <thead>
           <tr>
                <th>Логин</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Роль</th>
                <th>Создан</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ user_data.username }} </td>
                <td> {{ user_data.last_name }} </td>
                <td> {{ user_data.first_name }} </td>
                <td> {% if user_data.middle_name %} {{ user_data.middle_name }} {% endif %} </td>
                <td> {{ user_role }} </td>
                <td> {{ user_data.created_at }} </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
