{% extends 'base.html' %}

{% block content %}
<h1 class="my-5">{{ post.title }}</h1>
<p>{{ post.author }}, {{ post.date.strftime('%d.%m.%Y') }}</p>
<div class="col-md-10 offset-md-1">
    <img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='images/' + post.image_id) }}" alt="Card image cap">
</div>
<p class="text-justify"><br>{{ post.text }}<br></p>
<form class="border p-3 mb-4 rounded">
    <div class="mb-3">
        <label for="comment" class="form-label h5">Оставьте комментарий</label>
        <textarea id="comment" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

<div class="d-flex mb-4">
    <div class="flex-shrink-0">
        <img src="{{ url_for('static', filename='images/avatar.jpg') }}" 
             class="rounded-circle" 
             style="width: 60px; height: 60px; object-fit: cover;" 
             alt="Avatar">
    </div>
    <div class="flex-grow-1 ms-3">
        <h5>Jhon Carter</h5>
        <p class="text-muted">Excellent feature! I love it. One day I'm definitely going to put this Bootstrap component into use and I'll let you know once I do.</p>
        
        <!-- Вложенный комментарий -->
        <div class="d-flex mt-4">
            <div class="flex-shrink-0">
                <img src="{{ url_for('static', filename='images/avatar.jpg') }}" 
                     class="rounded-circle" 
                     style="width: 45px; height: 45px; object-fit: cover;" 
                     alt="Avatar">
            </div>
            <div class="flex-grow-1 ms-3">
                <h5>Clark Kent</h5>
                <p class="text-muted">Thanks, you found this component useful. Don't forget to check out other Bootstrap components as well. They're also very useful.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}